In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd

In [ ]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [ ]:
dataset.head() 
#Não é preciso usar o User ID já que não é relevante para o modelo
#Usar de gênero para o modelo deve depender do caso

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
dataset['Purchased'].unique() #entendendo mais sobre o algorítimo classificador

array([0, 1])

In [ ]:
dataset.shape

(400, 5)

In [ ]:
dataset.describe() 
#verificando se os dados correspondem a realidade

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
dataset.info() 
#verificando se existem dados nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
X = dataset.iloc[:,2:4].values #separando valores preditores
y = dataset.iloc[:,4].values #separando valores classificadores

In [ ]:
sc = StandardScaler() #normalizando escala
X = sc.fit_transform(X)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2) #separando base de treino e teste

In [ ]:
svm = SVC(kernel = 'rbf', random_state=1, C=2.0) #parâmetros
svm.fit(x_train,y_train) #treinando modelo

SVC(C=2.0, random_state=1)

In [ ]:
y_pred = svm.predict(x_test)

In [ ]:
accuracy_score(y_test, y_pred)

0.8625